<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="ss.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,700&family=Handjet&family=Poppins:ital,wght@1,900&family=Press+Start+2P&family=Roboto+Mono:wght@300&family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">
    <title>Earth</title>
</head>
<body>
    <nav class="navbar">
        <div class="menu-container move-left">
            <div class="menu">
                <div class="dropdown">
                    <a id="home" href="#">Homebase</a>
                    <div class="dropdown-content">
                        <a href="index.html">Earth </a>
                        <a href="#">Mars</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="menu-container move-left">
            <div class="menu">
                <div class="dropdown">
                    <a id="characters" href="#">Characters</a>
                    <div class="dropdown-content">
                        <a href="#">Burhan Moin</a>
                        <a href="#">Obi wan kenobi</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <audio autoplay loop>
        <source src="space (1).mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

</body>
</html>
